@font-face {
font-family: 'Calculator';
src:url('/fonts/Calculator.ttf.woff') format('woff'),
    url('/fonts/Calculator.ttf.svg#Calculator') format('svg'),
    url('/fonts/Calculator.ttf.eot'),
    url('/fonts/Calculator.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Braun Font';
    src:url('/fonts/ChingoloPro.ttf.woff') format('woff'),
        url('/fonts/ChingoloPro.ttf.svg#ChingoloPro') format('svg'),
        url('/fonts/ChingoloPro.ttf.eot'),
        url('/fonts/ChingoloPro.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
    }
body {
    min-height: 100vh;
    background-color: #333;
    display: grid;
    place-items: center;
    font-family: "Bebas Neue";
}
h1 {
    font-size: 50px;
    letter-spacing: 0px;
    margin: 0;
    color: #aaa;
    text-align: center;
    font-family: 'Braun Font';
}
h4 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #fff;
    text-align: left;
    font-family: 'Braun Font';

}
.text-ui {
    display: none;
}
.btn-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin: 10px auto 20px;
}
.btn-content button {
    background-color: #0FC2C0;
    padding: 4px 25px;
    color: #015958;
    font-weight: 500;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    box-shadow: none;
    font-family: "Bebas Neue";
}
.btn-content button:hover {
    background-color: #fff;
    color: #015958;
    cursor: pointer;
    transform: scale(1.05);
}
.btn-content button:active {
    background-color: #e5203b;
    color: #fff;
}
.calculadora {
    align-items: stretch;
    width: 240px;
    margin: 25px auto;
    padding: 30px 30px 50px;
    border-radius: 10px 10px 50px 50px;
    border: 2px solid #222;
    background-color: #222;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 35px);
    gap: 10px;
    justify-content: center;
    box-shadow: inset 1px -1px 8px #555;
}
.calculadora .datos-pantalla { 
    font-family: 'Calculator';
    margin-bottom: 10px;
    text-align: right;       
    grid-column: 1 / -1;
    padding: 10px 10px;
    color: #111;
    background-color: #c5c7b9;
    border-radius: 4px;
    font-size: 30px;
    letter-spacing: 2.5px;
    border: 2px solid #333 ;
    box-shadow: inset 7px 7px 2px #111, inset -5px -5px 2px #333;
}
.calculadora .number {
    min-height: 35px;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid #111;
    font-family: 'Barlow';
    background-color: #111;
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 50%);
}
.calculadora .number.symbol {
    background-color: #41271a;
}
.calculadora .number:hover {
    background-color: #008F8C;
}
.calculadora .number.equal {
    background-color: #e5203b;
    grid-row: span 2;
}
.calculadora .number.equal:hover {
    background-color: #fe4861;
}
.calculadora .number:active,
.calculadora .number.equal:active {
    background-color: #0FC2C0;
    box-shadow: 0 2px 0 #023535;     
}
.calculadora .number.zero {
    grid-column: span 2;
}